@model ProductVM
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Products Form</h5>
                <form asp-action="Upsert" method="post" class="my-4" >
                    <input asp-for="Product.Id" hidden />
                    <div class="text-danger mb-4"></div>
              
                    <div class="row mt-4">
                        <div class="col-md-4">
                     
                                <div class="form-group">
                                    <label asp-for="Product.BrandId" class="control-label"></label>
                                    <select asp-for="@Model.Product.BrandId" asp-items="@Model.BrandList" class="form-control">
                                        <option disabled value="0">Select </option>
                                    </select>
                                    <span asp-validation-for="Product.BrandId" class="text-danger"></span>
                                </div>
                         
                        </div>
                        <div class="col-md-4">
         
                            <div class="form-group">
                                <label asp-for="Product.ColorId" class="control-label"></label>
                                    <select asp-for="@Model.Product.ColorId" asp-items="@Model.ColorList" class="form-control">
                                    <option disabled value="0">Select</option>
                                </select>
                                    <span asp-validation-for="Product.ColorId" class="text-danger"></span>
                            </div>
                        
                        </div>
                        <div class="col-md-4">
            
                            <div class="form-group">
                                    <label asp-for="Product.SizeId" class="control-label"></label>
                                    <select asp-for="@Model.Product.SizeId" asp-items="@Model.SizeList" class="form-control">
                                    <option disabled value="0">Select</option>
                                </select>
                                    <span asp-validation-for="Product.SizeId" class="text-danger"></span>
                            </div>
           
                        </div>

                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-1">
                            @if (Model.Product.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary">Update</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Create</button>
                            }

                        </div>
                        <div class="col-1">
                            <a asp-asp-controller="Employee" asp-action="Index" class="btn btn-secondary from-control">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}